.Footer{
    background: black;
    width: 95%;
    margin:auto;
    height: auto;
    padding: 2rem 1.8rem;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.238);
    border-radius: 0.8rem;   
    z-index: 9999;
}

.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.top h2{
    color: rgb(217, 226, 242);
}

.top p{
    color: #fff;
}

.top i{
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.top i:hover{
    color: rgb(106, 121, 147);
}

.bottom{
    color: white;
    padding-top: 2rem;
    align-items: start;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bottom a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.bottom a:hover{
    text-decoration: underline;
}

.bottom div{
    display: flex;
    flex-direction: column;
}

.bottom h4{
    color: #b6a691;
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;
}

.cpy{
    margin-top: 2rem;
    color: white;
    font-size: 0.6rem;
}


@media screen and (wax-width: 850px ){
    .footer{
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
}